* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Impede a barra de rolagem horizontal */

}

.image_fundo {
    width: 2000px;
    height: 800px;
    max-width: 100%;
}

.Destasques {
    color: green;
    font-family: sans-serif;
    margin-left: 60px;
}

.barra {
    background-color: #c7c3c354;
    color: rgba(255, 255, 255, 0.5);
    padding: 16px;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
}

a:link {
    text-decoration: none;
}

.em_site_p {
    position: absolute;
    color: aliceblue;
    left: 410px;
    transform: translateX(-50%);
    margin: 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acesse_tbm {
    position: absolute;
    color: aliceblue;
    left: 670px;
    transform: translateX(-50%);
    margin: 0;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todos_A {
    color: aliceblue;
    text-decoration: none;
    margin: 0 15px;
}

.todos_H h6 {
    margin-bottom: 10px;
    font-family: 'Kulim Park', sans-serif;
}

.todos_H {
    position: absolute;
    width: 8000px;
    left: 20px;
    bottom: 0;
    margin: 850px;
    color: rgb(255, 255, 255);
    display: flex;
    font-size: 25px;
}

.dadosgeo {
    color: aliceblue;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* css do link para pagina de dados geoespacias */
a:link,
a:visited,
a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: yellow;
}

/* CSS do link para pagina de dados geoespaciais */
.dados_geoespaciais {
    position: absolute ;
    top: 42% !important;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 41px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;  
    font-family: sans-serif;
}


/* CSS do link para dados geoespaciais */
/* CSS para espaçamento entre a bacias, campos, blocos*/
.dados_b_P_C_B {
    font-size: smaller;
    text-align: center;
    font-size: 40px;
    font-family: 'Kulim bold', sans-serif;
    margin-top: 50px;
    font-weight: bold;
}

.dados_b_P_C_B a {
    margin-right: 200px;
    transition: 7s;
}

.dados_b_P_C_B a:last-child {
    margin-right: 0;
}

.dados_b_P_C_B .dados{
    text-decoration: underline #FFCD01;    
}
/* CSS para espaçamento entre a bacias, campos, blocos*/

.dados {
    color: #000000;
}

/* CSS do link para dados geoespaciais */
.titulo_mapas {
    display: flex;
}

/* CSS para o botão Acesso aos Geoespaciais*/
.botao_geoespaciais {
    top: 60px;
    border-radius: 50px;
    background-color: #FFCD01;
    padding: 25px;
    color: aliceblue;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    border-color: #FFCD01;
}

.botao_amarelo {
    text-align: center;
    margin-top: 70px;
}

.exp_dados {
    margin-top: 50px;
    font-size: 30px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
    }

    
.P_titulo_b {
    left: 0%;
    margin-top: 100px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    text-decoration: underline #FFCD01;
    left: 55px;;
    position: relative;
}

#ifo_bacias table td {
    width: calc(100% / 3);
    /* Divide a largura igualmente entre as células */
    vertical-align: top;
    /* Alinhar o conteúdo ao topo */
}

.info_bacias {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
}


.titulo_Bacias {
    color: #FFCD01;
    font-size: 30px;
    margin-top: 60px;
    /* Remover margem superior do título */
    text-align: left;
    font-family: sans-serif;
    margin-left: 11%;
    
}

.tudo_bacias {
    padding: 10px;
    /* Adicionar um espaçamento interno */
    text-align: center;
    font-size: 20px;
}

.p2_b,
.p3_b,
.p4_b {
    line-height: 1.5;
    margin-top: 0;
    text-align: justify;
     /* Remover margem superior do parágrafo */
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
   
}

/* css para titulos de mapas*/

.titulo_blocos {
    margin-top: 60px;
    right: 300px;
    font-size: 40px;
    font-family: sans-serif;
    text-decoration: underline #FFCD01;
    left: 55px;;
    position: relative;
}

.titulo_mapas table {
    width: 100%;
    /* Faz a tabela ocupar a largura total do container */
    border-collapse: collapse;
    /* Remove o espaço entre as bordas das células */
}

.titulo_mapas td {
    text-align: center;
    /* Centraliza o conteúdo das células */
    padding: 10px;
    /* Adiciona espaçamento interno às células */
}

.imagens_mapa {
    width: 50%;
    /* Faz a imagem ocupar a largura total da célula */
    max-width: 100%;
    /* Limita a largura máxima da imagem */
    height: 250px;
    /* Mantém a proporção da imagem */
    margin-top: 20px;
    /* Garante que a imagem seja tratada como um bloco, ajudando no alinhamento */
    margin-right: 120px;
    /* Centraliza a imagem horizontalmente na célula, se ela não ocupar a largura total */
    
}

.titulo_mapas {
    display: flex;
    flex-wrap: wrap;
}

.mapa_de_atuacao h3 {
    margin-bottom: 5px;
    position: relative;
    margin-right: 100px;
    color: #008C4A;
    font-family: sans-serif;


}



.inf_blocos {
    margin-left: 280px;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
}

.img_mapa_demonstracao {
    width: 700px;
    height: 500px;
    max-width: 100%;
    position: relative;
    top: auto,; /* Ajuste a posição vertical conforme necessário */
    left: 600px; /* Ajuste a posição horizontal conforme necessário */
}


.observacao_img {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    line-height: 1.5;
}

.P_titulo2_b {
    color: #FFCD01;
    font-size: 30px;
    margin-top: 20px;
    /* Remover margem superior do título */
    left: 55px;;
    position: relative;
    font-family: sans-serif;
    margin-left: 1%;
}

.ifo_campos {
    margin-top: 60px;
    right: 300px;
    font-size: 30px;
    font-family: sans-serif;
}

.P_titulo_c {
    margin-top: 60px;
    right: 300px;
    font-size: 40px;
    font-family: sans-serif;
    text-decoration: underline #FFCD01;
    left: 55px;;
    position: relative;
}

.info_campos {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
}

.info_pocos {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
}

.P_titulo2_c {
    color: #FFCD01;
    font-size: 30px;
    margin-top: 20px;
    /* Remover margem superior do título */
    left: 55px;;
    position: relative;
    font-family: sans-serif;
    margin-left: 1%;
}

.info_deseprod_c {
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;
}

.titulo_pocos {
    margin-top: 60px;
    right: 300px;
    font-size: 40px;
    font-family: sans-serif;
    text-decoration: underline #FFCD01;
    left: 55px;;
    position: relative;
}

.img_ciclo_demonstracao {
    width: 500px;
    height: 500px;
    max-width: 100%;
    position: relative;
    top: auto,; /* Ajuste a posição vertical conforme necessário */
    left: 695px; /* Ajuste a posição horizontal conforme necessário */
}

.P_titulo3_c {
    color: #008C4A;
    font-size: 30px;
    margin-top: 20px;
    /* Remover margem superior do título */
    left: 55px;;
    position: relative;
    font-family: sans-serif;
    margin-left: 1%;
}

.info_tipos_pocos {
    margin-left: 280px;
    font-size: 20px;
    line-height: 1.5;
    text-align: justify;
    margin-left: 4%;
    margin-right: 4%;

}

.subtitulo_pocos {
    text-align: center;
    font-size: 18px;
    color: #008C4A;
    line-height: 1.5;
    position: relative;
    font-weight: bold;
}

.P_titulo4_c {
    color: #FFCD01;
    font-size: 30px;
    margin-top: 20px;
    /* Remover margem superior do título */
    left: 55px;;
    position: relative;
    font-family: sans-serif;
    margin-left: 1%;
}

.P_titulo5_c {
    color: #008C4A;
    font-size: 30px;
    margin-top: 20px;
    /* Remover margem superior do título */
    left: 55px;;
    position: relative;
    font-family: sans-serif;
    margin-left: 1%;
}

.img_demonstracao_tecnica {
    width: 500px;
    height: 600px;
    max-width: 100%;
    position: relative;
    top: auto;
    left: 690px;
}


.img_poço_em_producao {
    width: 1000px;
    height: 500px;
    max-width: 100%;
    position: relative;
    top: auto,; /* Ajuste a posição vertical conforme necessário */
    left: 450px; /* Ajuste a posição horizontal conforme necessário */
}

.observacao_img_poços {
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    max-width: 100%;
}

footer {
    background: #f8f8f8; /* Cor de fundo do rodapé */
    padding: 20px;
 
}

.dual-color {
    background: linear-gradient(to right, #000000 50%, #9e9e9e 50%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: 20%;
    
}

.dual-color span {
    background: none;
    margin-left: 0%;
    color: #000000; /* Cor do texto para a parte da segunda cor */
}

@media (max-width: 1441px) {
    /* .todos_H h6 {
    bottom: 20px;   
    font-family: 'Kulim Park', sans-serif;
    } */

    .img_mapa_demonstracao {
        width: 700px;
        height: 500px;
        max-width: 100%;
        position: relative;
        top: auto,; /* Ajuste a posição vertical conforme necessário */
        left: 370px; /* Ajuste a posição horizontal conforme necessário */
    }

    .img_ciclo_demonstracao {
        width: 500px;
        height: 500px;
        max-width: 100%;
        position: relative;
        top: auto,; /* Ajuste a posição vertical conforme necessário */
        left: 480px; /* Ajuste a posição horizontal conforme necessário */
    }

    .img_demonstracao_tecnica {
        width: 500px;
        height: 600px;
        max-width: 100%;
        position: relative;
        top: auto;
        left: 480px;
    }
    .img_poço_em_producao {
        width: 1000px;
        height: 500px;
        max-width: 100%;
        position: relative;
        top: auto,; /* Ajuste a posição vertical conforme necessário */
        left: 260px; /* Ajuste a posição horizontal conforme necessário */
    }
    .observacao_img_poços {
        font-size: 16px;
        font-family: sans-serif;
        text-align: center;
        max-width: 100%;

    }
    
}

@media (max-width: 1024px) {
    /*TITULOS BACIAS BLOCOS*/
    .dados_b_P_C_B {
        font-size: smaller;
        text-align: center;
        font-size: 40px;
        font-family: 'Kulim bold', sans-serif;
        margin-top: 50px;
        font-weight: bold;
    }
    
    .dados_b_P_C_B a {
        margin-right: 200px;
        transition: 7s;
    }
    
    .dados_b_P_C_B a:last-child {
        margin-right: 0;
    }
    
    .dados_b_P_C_B .dados{
        text-decoration: underline #FFCD01;    
    }
    /* CSS para espaçamento entre a bacias, campos, blocos*/
    
    .dados {
        color: #000000;
    }

    /**/
    
.imagens_mapa {
    width: 60%;
    /* Faz a imagem ocupar a largura total da célula */
    max-width: 100%;
    /* Limita a largura máxima da imagem */
    height: 160px;
    /* Mantém a proporção da imagem */
    margin-top: 20px;
    /* Garante que a imagem seja tratada como um bloco, ajudando no alinhamento */
    margin-right: 120px;
    /* Centraliza a imagem horizontalmente na célula, se ela não ocupar a largura total */
    
}

.img_mapa_demonstracao {
    width: 60%;
    height: auto;
    max-width: 100%;
    position: relative;
    top: auto,; /* Ajuste a posição vertical conforme necessário */
    left: 170px; /* Ajuste a posição horizontal conforme necessário */
}

.observacao_img {
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5;
    position: relative;
    right: 35px;
}

.img_ciclo_demonstracao {
    width: 40%;
    height: auto;
    max-width: 100%;
    position: relative;
    top: auto,; /* Ajuste a posição vertical conforme necessário */
    left: 320px; /* Ajuste a posição horizontal conforme necessário */
}

.img_demonstracao_tecnica {
    width: 40%;
    height: auto;
    max-width: 100%;
    position: relative;
    top: auto;
    left: 300px;
}

.img_poço_em_producao {
    width: 60%;
    height: auto;
    max-width: 100%;
    position: relative;
    top: auto,; /* Ajuste a posição vertical conforme necessário */
    left: 215px; /* Ajuste a posição horizontal conforme necessário */
}



}

@media (max-width: 1024px) {

    .mapa_de_atuacao h3 {
        margin-bottom: 5px;
        position: relative;
        margin-left: 55px;
        color: #008C4A;
        font-family: sans-serif;
    
    
    }
    
    .imagens_mapa {
        width: 130px;
        /* Faz a imagem ocupar a largura total da célula */
        max-width: 100%;
        /* Limita a largura máxima da imagem */
        height: auto;
        /* Mantém a proporção da imagem */
        margin-top: 20px;
        /* Garante que a imagem seja tratada como um bloco, ajudando no alinhamento */
        margin-left: 20%;
        /* Centraliza a imagem horizontalmente na célula, se ela não ocupar a largura total */
        
    }

    .observacao_img {
        font-size: 10px;
        font-family: sans-serif;
        line-height: 1.5;
        position: relative;
        left: 15px;
    }

        
    .img_ciclo_demonstracao {
        width: 35%;
        height: auto;
        max-width: 100%;
        position: relative;
        top: auto,; /* Ajuste a posição vertical conforme necessário */
        left: 250px; /* Ajuste a posição horizontal conforme necessário */
    }

    .img_demonstracao_tecnica {
        width: 35%;
        height: auto;
        max-width: 100%;
        position: relative;
        top: auto;
        left: 250px;
    }

    .img_poço_em_producao {
        width: 60%;
        height: auto;
        max-width: 100%;
        position: relative;
        top: auto,; /* Ajuste a posição vertical conforme necessário */
        left: 150px; /* Ajuste a posição horizontal conforme necessário */
    }

    .observacao_img_poços {
        font-size: 10px;
        font-family: sans-serif;
        text-align: center;
        max-width: 100%;
    }
    }